<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <div class="jumbotron">
        <div class="card">
            <div class="card-body">

                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} text-center">{{ message }}</div>
                    {% endfor %}
                </ul>
                {% endif %}

                {% block content %}
                {% endblock %}

            </div>
        </div>
    </div>
</div>
</body>
</html>